body {
    text-align: center;
    color: white;
    font-family: "calibri light";
}

#page {
    width: 850px;
    margin: auto;
}

h3 {
    text-align: center;
}

form {
    padding-top: 50px;
    width: 700px;
    margin: auto;
}

fieldset {
    border-color: black;
}

form > fieldset:first-of-type {
    background-color: #27282b;
}

fieldset {
    display: table;
    border-collapse: separate;
    border-spacing: 10px;
}

fieldset p {
    display: table-row;
}

form > fieldset:first-child input,
form > fieldset:first-child label,
form > fieldset:first-child textarea,
form > fieldset:first-child select {
    display: table-cell;
}

label {
    width: 120px;
    padding-left: 110px;
    text-align: right;
    font-size: 15px;
}

fieldset + fieldset {
    margin-top: 10px;
    padding: 0;
}

fieldset + fieldset p {
    width: 100%;
    text-align: center;
    padding-top: 20px;
}


butt p input {
    display: inline-block;
    width: 25%;
    height: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-family: "calibri light";
    margin: auto;
}
