<header>
    <ul>
        <li>
            <a href="HomePage">Accueil</a>
        </li>
        <li>
            <a href="Dishes">Plats</a>
        </li>
        <li>
            <a href="Contact">Contact</a>
        </li>
    </ul>
</header>