
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Header.css" />
</head>
<body>
    <div>
        @RenderPage("~/Views/Shared/_Header.cshtml")
        @RenderBody()
    </div>
</body>
</html>
