
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.title</title>
    <link rel="stylesheet" href="~/Content/Dishes.css" />
</head>
<body>
    <div class="filtre">
        <form method="post" action="">
            <p>
                <label>Thème </label>
                <select name="theme">
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                </select>

                <label>Cuisinier </label>
                <select name="cooker">
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                </select>

                <label>Prix </label>
                <select name="price">
                    <option value="none"> </option>
                    <option value="low">5-10</option>
                    <option value="mid">10-15</option>
                    <option value="high">15-20</option>
                    <option value="vhigh">20-25</option>
                </select>

                <input type="submit"
                       value="Filtrer" />
                <input type="reset"
                       value="Effacer" />
            </p>
        </form>
    </div>
    <div class="plats">
        <div class="case">
            <img src="" width="" />
            <p>Sed mollis sapien nec posuere sollicitudin. Ut urna risus, pulvinar consequat laoreet ac, tempor sed ex. Nunc accumsan neque eu orci hendrerit, id efficitur ante condimentum. Sed sodales eu nunc et vulputate. Phasellus posuere, massa tempor posuere hendrerit, mauris dui condimentum lectus, in gravida massa enim at purus. Nullam vel justo urna. In molestie posuere nisl, iaculis venenatis urna pellentesque at. Nullam convallis, nisi sed porta vehicula, augue massa tempor lacus, eu varius leo diam eget mi. Vestibulum ut diam ut justo euismod eleifend vitae aliquet libero. Nunc congue lorem et dignissim mollis.</p>
            <p class="prix"></p>
            <a href=""><img src="" alt="Commander" width="" /></a>
        </div>

        <div class="case">
            <img src="" width="" />
            <p>Sed mollis sapien nec posuere sollicitudin. Ut urna risus, pulvinar consequat laoreet ac, tempor sed ex. Nunc accumsan neque eu orci hendrerit, id efficitur ante condimentum. Sed sodales eu nunc et vulputate. Phasellus posuere, massa tempor posuere hendrerit, mauris dui condimentum lectus, in gravida massa enim at purus. Nullam vel justo urna. In molestie posuere nisl, iaculis venenatis urna pellentesque at. Nullam convallis, nisi sed porta vehicula, augue massa tempor lacus, eu varius leo diam eget mi. Vestibulum ut diam ut justo euismod eleifend vitae aliquet libero. Nunc congue lorem et dignissim mollis.</p>
            <p class="prix"></p>
            <a href=""><img src="" alt="Commander" width="" /></a>
        </div>

        <div class="case">
            <img src="" width="" />
            <p>Sed mollis sapien nec posuere sollicitudin. Ut urna risus, pulvinar consequat laoreet ac, tempor sed ex. Nunc accumsan neque eu orci hendrerit, id efficitur ante condimentum. Sed sodales eu nunc et vulputate. Phasellus posuere, massa tempor posuere hendrerit, mauris dui condimentum lectus, in gravida massa enim at purus. Nullam vel justo urna. In molestie posuere nisl, iaculis venenatis urna pellentesque at. Nullam convallis, nisi sed porta vehicula, augue massa tempor lacus, eu varius leo diam eget mi. Vestibulum ut diam ut justo euismod eleifend vitae aliquet libero. Nunc congue lorem et dignissim mollis.</p>
            <p class="prix"></p>
            <a href=""><img src="" alt="Commander" width="" /></a>
        </div>
    </div>
</body>
</html>
