

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.title</title>
    <link rel="stylesheet" href="~/Content/HomePage.css" />
    <link rel="stylesheet" href="~/Content/Header.css" />
</head>
<body>
    <img src="" alt="foodcover" width="800" height="200" />
    <div class="bloc1">
        <div class="paragraphe1">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur ultricies elit et dignissim. Aliquam id eleifend arcu. Integer fermentum ligula nisl, eget cursus nibh pretium at. Nunc libero elit, feugiat at posuere at, finibus nec risus. Sed pharetra interdum leo, at hendrerit nulla vulputate ut. Phasellus posuere neque id ante accumsan pharetra at a odio. Quisque vitae sem et quam mattis dictum a id ipsum. Fusce et diam eget diam varius varius. Sed eget urna consequat, ornare augue id, tincidunt ipsum.
            </p>

            <p>Integer pharetra magna sed dui interdum facilisis. Nullam blandit ac lorem nec varius. Donec tempor tempor eros id congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam feugiat pharetra ligula in dictum. Morbi urna nulla, rutrum et metus quis, aliquam hendrerit nisi. Nullam odio sem, blandit vel euismod sit amet, fringilla a lectus. Donec vitae pellentesque enim. Praesent blandit quis elit a tristique.</p>

            <p>Morbi quis ultricies tortor. Donec bibendum rhoncus volutpat. Ut convallis eleifend dui vitae auctor. Maecenas vitae pretium purus. Sed finibus laoreet ullamcorper. Fusce quis varius tortor, quis eleifend arcu. Phasellus faucibus rutrum justo ut pharetra. Aliquam erat volutpat. Proin volutpat accumsan libero, in hendrerit tortor rutrum nec.</p>

            <p>
                Duis faucibus iaculis turpis, vitae blandit nibh venenatis et. Pellentesque consectetur purus a scelerisque tempor. Morbi elementum neque et feugiat vehicula. Suspendisse scelerisque arcu eget feugiat convallis. Suspendisse non tortor ultrices, pretium arcu eu, consequat turpis. Quisque consequat tellus id luctus suscipit. Ut at dapibus orci. Aenean nec risus quis sapien egestas maximus. In elementum ornare ex vel placerat. Pellentesque condimentum quam ac sem faucibus bibendum.

                Nunc at dolor lectus. In consequat vulputate mollis. Donec placerat velit ut erat feugiat, id bibendum sapien euismod. In porttitor purus sit amet mauris tincidunt rhoncus. Pellentesque tincidunt sapien nec dolor sodales, et dapibus quam luctus. Sed non nisl et tellus faucibus sollicitudin vitae a felis. Duis ultrices enim nec nibh ornare cursus.
            </p>
        </div>
        <div class="paragraphe2">
            <p>
                Fusce ultricies tellus sed felis scelerisque, sed cursus augue gravida. Morbi ut metus in felis vulputate ultrices vitae eget arcu. Praesent varius felis euismod lorem dapibus laoreet. Mauris imperdiet, tellus sit amet luctus egestas, neque purus varius augue, quis sagittis nisi sapien ut est. Vestibulum vitae accumsan felis. Integer fermentum mi quis sagittis eleifend. Morbi elementum, lorem at feugiat feugiat, dui orci pharetra massa, non fermentum erat lacus id justo. Curabitur ac sem ut tellus sagittis volutpat a ut enim. Aliquam erat volutpat.
            </p>

            <p> Etiam sagittis nunc at lacus ultricies, vel accumsan enim finibus. Nulla sed ligula eget lorem aliquam molestie. Sed vitae dictum diam. Ut scelerisque, tortor quis sollicitudin pharetra, leo metus eleifend enim, et fringilla enim libero a massa. Aenean viverra mollis pharetra. Nulla ornare semper accumsan. Pellentesque eget leo metus. Donec faucibus nunc et lectus volutpat, nec maximus nulla mattis. Sed sit amet pellentesque leo. Pellentesque vitae nunc non diam porta interdum vitae eu sem. Sed dictum odio in ante sagittis, in aliquam ante placerat. Nam tellus nisi, fringilla eget tellus non, interdum feugiat lectus. Mauris euismod id magna et molestie.</p>

            <p>
                Maecenas vel eleifend massa. Praesent tristique tellus nibh, nec porta orci congue nec. Cras finibus tempus ullamcorper. Pellentesque eleifend est at ligula pulvinar porttitor. Vestibulum hendrerit nunc ut finibus tempor. In facilisis quam dui, a molestie metus tristique ac. Duis sem sapien, porttitor in metus vitae, ornare dictum felis. Proin sit amet erat a massa tempus dignissim.

                Phasellus vulputate mi in mauris rutrum mollis. In quis sodales odio. In eu massa quis quam elementum egestas eu vitae nulla. Ut maximus, orci sit amet semper ornare, enim lorem dignissim diam, vitae tincidunt orci leo id lacus. Duis sed pretium orci. Nam enim sem, condimentum ullamcorper faucibus nec, mattis ut libero. Maecenas laoreet, eros vel pellentesque lacinia, ante eros lacinia nisi, eu aliquam tellus lectus nec mauris. Vivamus ultrices arcu justo, non lobortis elit accumsan eu. In hac habitasse platea dictumst. Suspendisse sed quam tellus.
            </p>
        </div>
    </div>
</body>
</html>
